.title-ayuda{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.ayuda-padre{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: $boxShadow;
    margin: 15px;

    .accordion{
        width: 100%;
    }
}
.servicio-padre{
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: center;
    margin: 15px;

    .contenedor-ayuda{
        padding: 50px;  
        
   

    .title-servicio{
        margin-bottom: 10px;
        font-weight: bold;
    }

    .servicio-detalles{
        display: flex;
        flex-direction: column;
        align-items: start;

        .boton-servicio{
    
            text-decoration: none;
            color: white;
            box-shadow: $boxShadow;
            background-color: $colorNegro;
            padding: 10px;
            border-radius: 10px;
            transition: .1s;

            &:hover{
                background-color: rgb(168, 164, 164);
                color: rgb(34, 34, 34);
            }
        }
       
    }

}

}




.consulta-padre{
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: $boxShadow;
    display: flex;
    margin: 15px;

    .contenedor-consulta{
        padding: 50px;   
        .boton-servicio{
    
            text-decoration: none;
            color: white;
            box-shadow: $boxShadow;
            background-color: $colorNegro;
            padding: 10px;
            border-radius: 10px;
            transition: .1s;

            &:hover{
                background-color: rgb(168, 164, 164);
                color: rgb(34, 34, 34);
            }
        
    }
}
}

@media screen and (max-width:525px) {
    .title-servicio h2{
        font-size: 17px;
        font-weight: bold;
    }
    .title-consulta h2{
        font-size: 17px;
        font-weight: bold;
    }
    
}
@media screen and (max-width:420px) {
    .title-servicio h2{
        font-size: 15px;
        
    }
    .title-consulta h2{
        font-size: 15px;
    }
    
}

