.contacto-padre{
    display: flex;
    flex-direction: column;

    .title-contacto{
        display: flex;
        justify-content: center;  
        margin-top: 50px;  
    }

    .contac{
        display: flex;
        justify-content: center;
        


        .contenedor-contacto{
            display: flex;
            
            box-shadow: $boxShadow;
            margin: 10px;
            width: 70%;


            .parrafo-contacto{
                margin: 35px;
                display: flex;
                flex-direction: column;
                width: 50%;

                & p{
                    font-family: $fuentePrincipal;
                    text-align: start;
                    font-weight: bold; 
                }
                
            }
            .col{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 1rem;
            }
        }

        
    }

    .Contactanoss{
        display: flex;
        justify-content: center;  
        margin-top: 50px;  
    }

    .formulario-contacto{
        display: flex;
        justify-content: center;


        .formulario{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 10px;
            padding: 30px;
            gap: 10px;
            box-shadow:$boxShadow;
            margin-bottom: 40px;
            width: 70%;


            & label{
                font-weight: bold;
            }
            & h2{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .submit-enviar{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;


                .enviar{
                    background-color: $colorNegro;
                    border: $colorNegro;
                    border-radius: 10px;
                    padding: 7px;
                    color: white;
                    margin-top: 10px;
                    padding-inline: 20px;
                    transition: 1s;

                    &:hover{
                        color: $colorNegro;
                        background-color: gray;
                    }
                }
                
            }


        }


    }

}



/*vista mediana y tambien chica */

@media screen and (max-width:1410px){
    .contenedor-contacto{
        flex-direction: column;  
        align-items: center;    
    }
    .parrafo-contacto p{
      margin: 1rem;
      width: 100%;
      display: flex;
      font-weight: bold; 
    }
    .col {
        width: 100%;
        padding: 1rem;
    }
    
}