.title-nuestroEquipo{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}
.nuestroEquipo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 30px;


    .nuestroEquipo-integrantes{
        width: 80%;
        background-color: rgb(234, 233, 233);
        margin-left: 10%;
        text-align: center;
        padding: 39px;
        border: 3px solid white;
        margin-bottom: 20px;
        border-radius: 40px;
        transition: 1s;

        & h4{
            font-size: 20px;
            text-align: center;
            color: $colorNegro;
            margin-top:5px ;
            margin-bottom: 8px;
        }

        & img{
            width: 75%;
            
        }
        .button-equipo{
            margin-top: 30px;
            background-color: $colorNegro;
            border: 1px solid $colorNegro; 
            color: white;
            padding:2%;
            transition: 0.5s;
            border-radius: 5px;

            &:hover{
                background-color: rgb(64, 65, 65);
                border: rgb(64, 65, 65);
                border-radius: 5px;
                color: rgb(212, 207, 207);
            
            }
        }
        &:hover {
            transform: translateY(-10px);
        }
        
    }
}












/*vista grande */
@media screen and (max-width: 1180px) {
    .nuestroEquipo{
        grid-template-columns: 1fr 1fr;
    }
    
}

/*vista mediana */

@media screen and (max-width: 838px) {
    .title-nuestroEquipo{
        font-size: 20px;
    }
    .nuestroEquipo{
        grid-template-columns: 1fr;
    }
    .nuestroEquipo-integrantes img{
        width: 90%; 
    }
    .nuestroEquipo-integrantes:hover {
        transform: none;
    }
    .nuestroEquipo-integrantes{
        width: 50%;
        margin-left: 25%;
    }
    .nuestroEquipo-integrantes img{
        width: 50%;
    }
    .nuestroEquipo-integrantes h4{
        font-size: 14px;
    }
    .button-equipo{
        width: 50%;
    }
}

/*vista medianita */

@media screen and (max-width: 607px){
    .button-equipo{
        width: 50%;
        padding: 0;
    }
    .nuestroEquipo-integrantes h4{
        font-size: 10px;
    }
    .title-nuestroEquipo{
        font-size: 18px;
    }
}


/*vista chica */


@media screen and (max-width: 573px){
    
    .button-equipo{
        font-size: 10px;
    }
    .nuestroEquipo-integrantes h4{
        font-size: 8px;
    }
    .title-nuestroEquipo{
        font-size: 16px;
    }
}

/*vista chiquita */


@media screen and (max-width:424px){
    .button-equipo{
        font-size: 5px;
    }
}
